In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/hse-econ-data-science/andan_2023/main/sem11_ab/cookie_cats.csv')
print(df.shape)
df.head()

(90189, 5)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [11]:
df_agg = df.groupby('version')['retention_1'].agg(['mean', 'count'])
df_agg

             mean  count
version
gate_30  0.448188  44700
gate_40  0.442283  45489

__а)__  Постройте примерный $95\%$-й доверительный интервал для каждой из двух долей.

$$
\left[\hat p - z_{crit} \sqrt{\frac{\hat p \cdot (1 - \hat p)}{n}} ; \quad  \hat p + z_{crit} \sqrt{\frac{\hat p \cdot (1 - \hat p)}{n}} \right]
$$

In [15]:
df_agg['var'] = df_agg['mean'] * (1 - df_agg['mean']) / df_agg['count']
df_agg

             mean  count       var
version
gate_30  0.448188  44700  0.000006
gate_40  0.442283  45489  0.000005

In [20]:
import scipy.stats as sts
import numpy as np

alpha = 0.05
z_cr = sts.norm().ppf(1 - alpha/2)

df_agg['left'] = df_agg['mean'] - z_cr * np.sqrt(df_agg['var'])
df_agg['right'] = df_agg['mean'] + z_cr * np.sqrt(df_agg['var'])
df_agg

             mean  count       var      left     right
version
gate_30  0.448188  44700  0.000006  0.443578  0.452798
gate_40  0.442283  45489  0.000005  0.437719  0.446847

__б)__ Постройте примерный $95\%$-й доверительный интервал для разницы долей.

$$
\left[\hat p_A - \hat p_B - z_{crit} \sqrt{\frac{\hat p_A \cdot (1 - \hat p_A)}{n_A} + \frac{\hat p_B \cdot (1 - \hat p_B)}{n_B}} ; \quad  \hat p_A - \hat p_B + z_{crit} \sqrt{\frac{\hat p_A \cdot (1 - \hat p_A)}{n_A} + \frac{\hat p_B \cdot (1 - \hat p_B)}{n_B}} \right]
$$

In [27]:
diff = df_agg['mean']['gate_30'] - df_agg['mean']['gate_40']
diff_std = np.sqrt(df_agg['var']['gate_30'] + df_agg['var']['gate_40'])

diff - z_cr * diff_std,  diff + z_cr * diff_std,

(-0.0005820998747623016, 0.012392439449445217)

In [29]:
diff/diff_std - z_cr, diff/diff_std + z_cr

(-0.17586671271029086, 3.7440612563698172)

In [31]:
diff/diff_std, z_cr

(1.7840972718297632, 1.959963984540054)

In [32]:
df_agg = df.groupby('version')['retention_7'].agg(['mean', 'count'])
df_agg

             mean  count
version
gate_30  0.190201  44700
gate_40  0.182000  45489

In [40]:
diff = df_agg['mean']['gate_30'] - df_agg['mean']['gate_40']
diff

0.008201298315205913

In [36]:
df.shape[0] # наверное 5% от всей базы

90189

In [39]:
n = df.shape[0] *100/5
n

1803780.0

In [41]:
n * diff

14793.337875002122

In [42]:
100*(n * diff) # если каждый за неделю платил нам дополнительные 100 рублей, потери большие

1479333.7875002122